{% extends "media/base.html" %}
{% block title %}Movies{% endblock %}
{% block content %}
  <h2>Trending</h2>
    <h4>Movies</h4>
  <div class="grid grid-cols-5 gap-4">
    {% for movie in movie_list %}
      <div>
        <a href="{% url 'media:movie_detail' movie.id %}">
          <img class="w-full object-cover rounded-lg" src="https://image.tmdb.org/t/p/w342{{ movie.poster_path }}" alt="{{ movie.title }}">
        </a>  
        <p class="mt-2 text-sm">{{ movie.title }}</p>
      </div>

    {% endfor %} 
  </div>

  <h4>Anime</h4>
  <ul>
    {% for anime in anime_list %}
      <li>
        <a href="{% url 'media:anime_detail' anime.id %}">
            {{ anime.title }}
        </a>
      </li>
    {% endfor %}
    </ul>        
{% endblock %}