{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>

<body class="bg-gray-50 text-black font-serif leading-normal tracking-normal">
    <div id="header" class="flex items-center justify-between p-4 bg-white shadow">
        <span class="user grid grid-flow-col auto-cols-max items-center gap-3">
        {% if request.user.is_authenticated %}
            <span class="text-sm text-gray-700">Hello {{ request.user.first_name|default:request.user.username }},</span>
            <form action="{% url 'logout' %}" method="post" class="inline">
            {% csrf_token %}
            <button type="submit" class="text-sm text-gray-700 hover:text-gray-900">Log out</button>
            </form>
        {% else %}
            {% if request.resolver_match.url_name != 'login' and request.resolver_match.url_name != 'signup' %}
                <a href="{% url 'login' %}"
                    class="text-sm font-semibold bg-gray-900 hover:bg-gray-800 text-white px-5 py-2 rounded-md transition">
                    Access
                </a>
            {% endif %}
        {% endif %}
        </span>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
</body>
</html>
